<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Solv</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg">
    <!-- minified snippet to load TalkJS without delaying your page -->
    <script>
      (function (t, a, l, k, j, s) {
        s = a.createElement("script");
        s.async = 1;
        s.src = "https://cdn.talkjs.com/talk.js";
        a.head.appendChild(s);
        k = t.Promise;
        t.Talk = {
          v: 3,
          ready: {
            then: function (f) {
              if (k)
                return new k(function (r, e) {
                  l.push([f, r, e]);
                });
              l.push([f]);
            },
            catch: function () {
              return k && new k();
            },
            c: l,
          },
        };
      })(window, document, []);
    </script>

    <!-- container element in which TalkJS will display a chat UI -->
    <div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
      <i>Loading chat...</i>
    </div>

    <script>
      Talk.ready.then(function () {
        var me = new Talk.User({
          id: "123456",
          name: "Alice",
          email: "alice@example.com",
          photoUrl: "https://demo.talkjs.com/img/alice.jpg",
          welcomeMessage: "Hey there! How are you? :-)",
        });
        window.talkSession = new Talk.Session({
          appId: "twAVw6Vs",
          me: me,
        });
        var other = new Talk.User({
          id: "654321",
          name: "Sebastian",
          email: "Sebastian@example.com",
          photoUrl: "https://demo.talkjs.com/img/sebastian.jpg",
          welcomeMessage:
            "Hey, i saw your project on chemical bonding. It's brilliant, i would like to help out?",
        });

        var conversation = talkSession.getOrCreateConversation(
          Talk.oneOnOneId(me, other)
        );
        conversation.setParticipant(me);
        conversation.setParticipant(other);

        var inbox = talkSession.createInbox({ selected: conversation });
        inbox.mount(document.getElementById("talkjs-container"));
      });
    </script>
  </body>
</html>
